html
    head
        style
            include ./style.css
    body 
        div.main 
            table.table_one
                tbody 
                    tr 
                        td(align="center", class="colum") 
                            table.table_two(align="center")
                                tbody
                                    tr 
                                        td.cell
                                            img.logo(src="https://via.placeholder.com/800x217.png", alt="header")
                                    tr
                                        td.cell_body
                                            p #{name} #{lastname},
                                            p Recientemente hubo una solicitud para cambiar la contraseña de su cuenta.
                                            p Si solicitó este cambio, establecer una nueva contraseña aquí:
                                            a.reset(href=`${urlfront}auth/reset-password/?token=${token}`) Establecer nueva contraseña
                                            p Si no hiciste esta solicitud, puede pasar por alto este correo electrónico y su contraseña seguirá siendo la misma.
                                    tr  
                                        td.end_cell
                                            
